#bt1 {
    height: 30px;
    width: 150px;
    background-color: #ffffff;
    color: black;
    border: 2px solid rgb(149, 149, 149);
    border-radius: 13px;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-areas: "head head" "params canv" "state state";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 4fr 100px;
    min-height: 100vh;
}

    .container > div {
        grid-gap: 1em;
    }

.head {
    grid-area: head;
    text-align: center;
    background: rgb(149, 149, 149);
    color: #ffffff;
}

.state {
    grid-area: state;
    text-align: center;
    background: rgb(149, 149, 149);
    color: #ffffff;
}

.params {
    grid-area: params;
    border: 2px solid silver;
    border-radius: 15px;
    padding: 2px;
    text-align: center; 
    align-self: stretch;
    vertical-align: middle;
}

.canv {
    grid-area: canv;
    border: 2px solid silver;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-areas: "head" "params" "canv" "state";
        grid-template-columns: 100%;
        grid-template-rows: 100px 4fr 4fr 100px;
    }
}
